.recipe-display {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Optional: Adds space between elements */
  margin: 25px 100px 25px 100px;
  border: 4px solid;
  border-color:  #708D23;   
  padding: 20px;
  border-radius: 40px;
  color:#4B4B4B;
}

.recipe-layout {
  display: flex;
  justify-content: space-between;
}

.recipe-title {
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.recipe-left,
.recipe-right {
  flex: 1;
  padding: 10px;
}

.recipe-label {
  font-weight: bold;
}

.recipe-text {
  margin: 5px 0;
}

.ingredients-section {
  border: 4px solid #4B4B4B;
  padding: 20px;
  width: 100%; 
  margin: 0px auto;
  border-radius: 10px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 20px; 
}

.ingredient-item {
  display: flex;
  flex-direction: column;
  background-color: #A8C686;
  padding: 10px;
  border-radius: 5px;

}

.recipe-image-area img {
  width: 90%; /* Set the width of the image to 50% */
  border-radius: 10px; /* Optional: keep the border radius if needed */
}

.recipe-image-area {
  padding: 20px;
  display: grid;
  width: 100%; 
  margin: 0 auto;
  border-radius: 10px;
  grid-template-columns: repeat(2, 1fr); /* Two equal columns */
  gap: 20px; 
}