<div class="user-display">
    <div class="user-title">{{ user.name }}</div>
    
    <div class="user-layout">
      <div class="user-left">
        <div class="user-group">
          <label class="user-label">User Id:</label>
          <p class="user-text">{{ user.id }}</p>
        </div>
  
        <div class="user-group">
          <label class="user-label">Username:</label>
          <p class="user-text">{{ user.username }}</p>
        </div>
  
        <div class="user-group">
          <label class="user-label">Role:</label>
          <p class="user-text">{{ user.isAdmin ? 'Admin' : 'User' }}</p>
        </div>
  
        <div class="user-group">
          <label class="user-label">Status:</label>
          <p class="user-text">{{ user.isBlocked ? 'Blocked' : 'Unblocked' }}</p>
        </div>
  
        <div class="user-group">
          <label class="user-label">Registration Date:</label>
          <p class="user-text">{{ user.registrationDate }}</p>
        </div>
        </div>
        
        <div class="user-right">
          <h4 class="recipes-title">Recipes</h4> 
          <div class="recipes-section">
            <div *ngFor="let recipe of user.recipes; let i = index;" class="recipe-group">
              <p class="recipe-item">
                <strong>Title:</strong> {{ recipe.name }} <br>
                <strong>Category:</strong> {{ recipe.category }} <br>
                <strong>State:</strong> {{ recipe.status }}
              </p>
              <a href="recipeDetail\{{recipe.id}}" class="btn btn-outline-secondary">View Recipe</a>
            </div>
          </div>       
      </div>
    </div>
  </div>
  
