<div class="recipe-container">
    <div class="recipe-grid">
        <div class="recipe-card card" *ngFor="let recipe of recipes">
          <img src="https://feed.continente.pt/media/n3xlfk1e/frango-airfryer.jpg?anchor=center&mode=crop&width=826&height=620&rnd=133511109585170000&format=webp" class="card-img-top" alt="Savory Herb-Infused Chicken">
          <div class="card-body">
            <h5 class="card-title">{{recipe.name}}</h5>
            <p class="card-text">
              {{recipe.description}}
            </p>
          </div>
          <div class="card-footer d-flex justify-content-between align-items-center">
            <small class="text-muted">{{recipe.duration}} min • {{recipe.difficulty}}</small>
            <a href="recipeDetail\{{recipe.id}}" class="btn btn-outline-secondary">View Recipe</a>
          </div>
        </div>
    </div>
  </div>