<form [formGroup]="form" (ngSubmit)="saveUser()">
    <div>
        <label for="name">Name:</label>
        <input id="name" formControlName="name" />
        <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched">Plaese fill a valid name</div>
    </div>

    <div>
        <label for="username">User Name:</label>
        <input id="username" formControlName="username" />
        <div *ngIf="form.get('username')?.invalid && form.get('username')?.touched">Plaese fill a valid username</div>
    </div>

    <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" />
        <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">Please fill a valid email.</div>
    </div>

    <div>
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password" />
        <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched">Please fill out your password</div>
    </div>

    <button type="submit">Save</button>
</form>