
.login-container {
  width: 100%;
  max-width: 400px; 
  margin: 50px auto; 
  padding: 20px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
  background-color: #FFF9E6; 
  border-radius: 10px; 
  font-family: 'Montserrat', sans-serif; 
}


.login-title {
  text-align: center; 
  font-size: 28px; 
  margin-bottom: 20px; 
  font-weight: 600; 
  color: #5D3A3A; 
}


.chooseImage {
  background-color: #ccc; 
}


input[type="email"], input[type="password"] {
  width: 100%; 
  padding: 12px; 
  margin: 8px 0 16px 0; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  font-size: 16px; 
  box-sizing: border-box; 
  transition: border-color 0.3s; 
}


input[type="email"]:focus, input[type="password"]:focus {
  border-color: #F1C40F; 
  outline: none; 
  box-shadow: 0 0 5px rgba(241, 196, 15, 0.3); 
}


label {
  font-size: 14px; 
  font-weight: bold; 
  color: #4B4B4B; 
  margin-bottom: 8px; 
  display: block; 
}


small {
  color: #C0392B; 
  display: block; 
  font-size: 12px; 
  margin-top: -10px; 
  margin-bottom: 15px; 
}


button[type="submit"] {
  width: 100%; 
  padding: 12px; 
  background-color: #708D23; 
  color: #FFF9E6; 
  border: none; 
  border-radius: 5px; 
  font-size: 16px; 
  font-weight: bold; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}


button[type="submit"]:hover {
  background-color: #D35400; 
}


button[type="submit"]:disabled {
  background-color: #d3540051; 
  cursor: not-allowed; 
}


.error-message {
  color: #C0392B; 
  text-align: center; 
  margin-top: 15px; 
  font-size: 14px; 
  font-weight: bold; 
}

a {
  color:#D35400;
  text-decoration: underline;
}


.register {
  margin-top: 20px; 
}


form {
  display: flex; 
  flex-direction: column; 
}


@media (max-width: 600px) {
  .login-container {
    margin: 20px; 
    padding: 15px; 
  }
}
