.recipe-form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Optional: Adds space between elements */
    margin: 25px 100px 25px 100px;
    border: 4px solid;
    border-color:  #708D23;   
    padding: 20px;
    border-radius: 40px;
    color:#4B4B4B;
}

.form-title {
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.form-label {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.form-input {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    border-radius: 40px;
    padding-left: 20px;
}

.form-textarea {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    padding: 8px 8px 8px 20px;
    border-radius: 20px;
    width: 100%;
    height: 200px;
}

.form-select {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    border-radius: 40px;
    padding-left: 20px;
}

.upload-instructions {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
}

.upload-input-group {
    outline: 4px dashed #4B4B4B;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.upload-button {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 40px;
    border: none;
    color:#4B4B4B;
    background-color: #708D23;
}

.title {

    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin: 0px;
}

.ingredients-section {
    border: 4px solid #4B4B4B;
    padding: 20px;
    width: 100%; 
    margin: 0px auto;
    border-radius: 10px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
  }
  
  .ingredient-group {
    display: flex;
    flex-direction: column;
    background-color: #A8C686;
    padding: 10px;
    border-radius: 5px;

  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .add-ingredient-button {
    background-color: #D35400;
    color: #4B4B4B;
    border: none;
    border-radius: 50%;
    font-size: 24px;       
    width: 50px;            
    height: 50px;           
    position: absolute;
    right: -26px;
    top: -25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1; 
    border: none; 
}

.form-layout {
    display: flex;
    justify-content: space-between; /* This makes two sections align side by side */
}

.form-left, .form-right {
    flex: 1; /* Each column will take equal space */
    margin-right: 20px; /* Adds space between the two columns */
}

.form-right {
    margin-right: 0; /* Removes right margin from the last column */
}


.add-ingredient-button span {
    line-height: 0; 
    padding-bottom: 6px;
}
  .add-ingredient-button:hover {
    background-color: #ed6205;
  }

  .delete-ingredient-button {
    background-color: #ff4d4d; /* Red background */
    color: white;              /* White text */
    border: none;              /* No border */
    padding: 5px 10px;        /* Padding */
    cursor: pointer;           /* Pointer cursor */
    border-radius: 4px;       /* Rounded corners */
  }
  
  .delete-ingredient-button:hover {
    background-color: #ff1a1a; /* Darker red on hover */
  }
  
  .submit-button {
    background-color: #708D23;
    color:#4B4B4B;
    display: block;              
    width: 500px;                
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;          
    cursor: pointer;
    border-radius: 40px;
    text-align: center;          
    margin: 0 auto;   
    border: none;           
}

.submit-button:hover {
    background-color: #718d2369;
}
  