<div class="user-container">
  <div class="user-grid">
    <div class="user-card card" *ngFor="let user of users">
      <div class="card-body">
        <h5 class="card-title">{{ user.name }}</h5>
        <p class="card-text">
          {{ user.email }}
        </p>
      </div>
      <div class="card-footer d-flex justify-content-between align-items-center">
        <button (click)="goToUserProfile(user.id)" class="btn btn-outline-secondary">View Profile</button>
        <button (click)="deleteUser(user)" class="btn btn-outline-danger">Delete</button>
      </div>
    </div>
    <div *ngIf="users.length === 0" class="no-users">No users found.</div>
  </div>
</div>
