.user-container {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
  }
  
  .user-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .user-card {
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
  }
  
  .user-card .card-body {
    padding: 20px;
    color: #4B4B4B;
  }
  
  .user-card .card-footer {
    padding: 15px 20px;
    background-color:  #FFF9E6;
    border-top: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .user-card .card-title {
    font-weight: 600;
    margin-bottom: 10px;
    color: #4B4B4B;
  }
  
  .user-card .btn {
    border-radius: 50px;
  }
  
  .no-users {
    font-size: 1.2em;
    color: #999;
    text-align: center;
    margin-top: 20px;
    grid-column: span 4;
  }

  .btn-outline-secondary{
    border-color: #D35400;
  }
  
  .btn-outline-secondary:hover{
    background-color: #D35400;
  }
  
  .btn-outline-danger{
    border-color: #C0392B;
  }
  
  .btn-outline-danger:hover{
    background-color: #A03024;
    color:#FFF9E6;
  }
  
  
  @media only screen and (max-width: 1050px) {
    .user-container {
      margin-left: 50px;
      margin-right: 50px;
    }
    
    .user-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media only screen and (max-width: 750px) {
    .user-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  